
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  /* background-color: aquamarine; */
}

.editor-stats-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 768px) {
  .editor-stats-container {
    flex-direction: column;
  }
}


